.allwebsites {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allwebsites__img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}
@media (max-width: 480px) {
  .allwebsites__img {
    height: 90vw;
  }
}

.allwebsites__feature {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: stretch;
  gap: 52px 40px;
  padding: 52px 20px;
}
@media (max-width: 1023px) {
  .allwebsites__feature {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 32px;
    padding: 40px 20px;
  }
}
@media (max-width: 787px) {
  .allwebsites__feature {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
    padding: 28px 20px;
  }
}
@media (max-width: 480px) {
  .allwebsites__feature {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 28px 20px;
  }
}

.allwebsites__feature__button {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  border: none;
  background-color: #ffffff;
  padding: 20px;
  cursor: pointer;
}
.allwebsites__feature__button:hover {
  transform: scale(1.05);
}
.allwebsites__feature__icon {
  width: 100px;
}
.allwebsites__feature__button:hover .allwebsites__feature__icon {
  filter: invert(0.5);
}
.allwebsites__feature__title {
  font-size: 24px;
  font-weight: 600;
  word-break: keep-all;
  align-content: stretch;
}
.allwebsites__feature__button:hover .allwebsites__feature__title {
  color: #ae0e36;
}
.allwebsites__feature__info {
  font-size: 20px;
  font-weight: 400;
  color: #5f5f5f;
  word-break: keep-all;
  flex: 1;
  align-content: center;
}
