body,
html {
  margin: 0;
  padding: 0;
  background-color: white;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  font-family: 'Pretendard', sans-serif;
}