.facilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 32px 40px 44px;
}
@media (max-width: 1023px) {
  .facilities {
    padding: 12px 28px 40px;
  }
}
@media (max-width: 480px) {
  .facilities {
    gap: 32px;
    padding: 12px 8px 40px;
  }
}

.facilities__map {
  width: 70%;
  height: 652px;
  position: relative;
  border-radius: 12px;
}
@media (max-width: 1023px) {
  .facilities__map {
    width: 90%;
    height: 600px;
  }
}
@media (max-width: 787px) {
  .facilities__map {
    width: 95%;
    height: 540px;
  }
}
@media (max-width: 480px) {
  .facilities__map {
    height: 440px;
  }
}

.facilities__buttons {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 40px;
}
@media (max-width: 1023px) {
  .facilities__buttons {
    width: 70%;
  }
}
@media (max-width: 787px) {
  .facilities__buttons {
    width: 88%;
    gap: 24px;
  }
}
@media (max-width: 480px) {
  .facilities__buttons {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
}

.facilities__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  border: 2px double #ae0e36;
  border-radius: 12px;
  padding: 20px;

  font-size: 32px;
  font-weight: 600;
  cursor: pointer;
}
.facilities__button:hover {
  color: #ae0e36;
  background-color: rgb(233, 204, 211);
}
@media (max-width: 787px) {
  .facilities__button {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .facilities__button {
    font-size: 24px;
  }
}
