.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  background-color: #373737;
  padding: 40px;
}

.footer__text {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}
