.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.home__img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}
@media (max-width: 1023px) {
  .home__img {
    height: 60vw;
    max-height: 460px;
  }
}
@media (max-width: 480px) {
  .home__img {
    height: 90vw;
  }
}

.clock__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 50px;
  left: 45vw;
}
@media (max-width: 1023px) {
  .clock__section {
    left: 40vw;
  }
}

.clock__text {
  border-bottom: 3px solid #3d3d3d;
  font-size: 32px;
  font-weight: 700;
  color: #3d3d3d;
}
@media (max-width: 767px) {
  .clock__text {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .clock__text {
    font-size: 20px;
  }
}

.clock {
  font-size: 36px;
  font-weight: 700;
  color: #3d3d3d;
}
@media (max-width: 767px) {
  .clock {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  .clock {
    font-size: 24px;
  }
}

.home__feature {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
@media (max-width: 1023px) {
  .home__feature {
    width: 92%;
    padding: 8px;
  }
}
@media (max-width: 767px) {
  .home__feature {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 480px) {
  .home__feature {
    width: 100%;
    padding: 24px 8px;
  }
}

.home__feature__button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  border: none;
  background-color: #ffffff;
  padding: 40px 20px;
  cursor: pointer;
}
.home__feature__button:hover {
  transform: scale(1.05);
}
@media (max-width: 1023px) {
  .home__feature__button {
    padding: 24px 8px;
  }
}
@media (max-width: 480px) {
  .home__feature__button {
    padding: 16px 8px;
  }
}

.home__feature__icon {
  width: 92px;
}
.home__feature__button:hover .home__feature__icon {
  filter: invert(0.5);
}
@media (max-width: 767px) {
  .home__feature__icon {
    width: 80px;
  }
}
@media (max-width: 480px) {
  .home__feature__icon {
    width: 72px;
  }
}

.home__feature__text {
  font-size: 32px;
  font-weight: 600;
  word-break: keep-all;
  flex: 1;
  align-content: center;
}
.home__feature__button:hover .home__feature__text {
  color: #ae0e36;
}
@media (max-width: 767px) {
  .home__feature__text {
    font-size: 24px;
  }
}
