.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 3;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar-logo img {
  align-items: center;
  height: 44px;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li a {
  padding: 0px 30px;
  text-decoration: none;
  color: rgb(61, 61, 61);
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navbar-menu li a:hover {
  color: #AE0E36;
}

.navbar-menu li.active a {
  color: #AE0E36;
}

@media (max-width: 768px) {
  .navbar {
    height: 50px;
    padding: 30px;
  }

  .navbar-logo img {
    height: 33px;
  }

  .navbar-menu li a {
    padding: 0px 15px;
    font-size: 18px;
  }
}

@media (max-width: 475px) {
  .navbar {
    height: 50px;
    padding: 20px;
  }

  .navbar-logo img {
    height: 6.5vw;
  }

  .navbar-menu li a {
    padding: 0px 5px;
    font-size: 3.9vw;
  }
}