.sub-section {
  margin-top: 80px;
  width: 100%;
}

.subimg-section {
  position: relative;
  width: 100%;
}

.subimg-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.sidebar-section {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 10px auto 10px;
}

.icon2 {
  width: 28%;
  margin: 10px auto;
}

.side-bar1 {
  width: 100%;
  margin: 5px auto 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.sidebar1-button {
  width: 80%;
  height: 19vw;
  margin: 10px auto;
  padding: 10px;
  border: none;
  font-size: 1.8vw;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: rgb(61, 61, 61);
}

.sidebar1-button p {
  font-size: 1.3vw;
  color: rgb(95, 95, 95);
}

.sidebar1-button:hover {
  color: #AE0E36;
  background-color: rgb(186, 186, 186);
}

.sidebar1-button:hover p {
  color: rgb(61, 61, 61);
}

.side-bar2 {
  width: 100%;
  margin: 5px auto 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.sidebar2-button {
  width: 80%;
  height: 19vw;
  margin: 10px auto;
  padding: 10px;
  border: none;
  font-size: 1.8vw;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: rgb(61, 61, 61);
}

.sidebar2-button p {
  font-size: 1.3vw;
  color: rgb(95, 95, 95);
}

.sidebar2-button:hover {
  color: #AE0E36;
  background-color: rgb(186, 186, 186);
}

.sidebar2-button:hover p {
  color: rgb(61, 61, 61);
}

@media (max-width: 875px) {
  .sidebar-section {
    width: 80%;
    margin: 10px auto 0px;
  }

  .sidebar1-button {
    font-size: 2vw;
    height: 22vw;
  }

  .sidebar1-button p {
    font-size: 1.4vw;
  }

  .sidebar2-button {
    font-size: 2vw;
    height: 22vw;
  }

  .sidebar2-button p {
    font-size: 1.4vw;
  }
}

@media (max-width: 768px) {
  .sub-section {
    margin-top: 50px;
  }

  .sidebar-section {
    margin: 0px auto 0px;
  }

  .sidebar1-button {
    width: 100%;
    height: 30vw;
    font-size: 2.4vw;
    margin: 0px auto;
  }

  .sidebar1-button p {
    font-size: 1.7vw;
  }

  .sidebar2-button {
    width: 100%;
    height: 30vw;
    font-size: 2.4vw;
    margin: 0px auto;
  }

  .sidebar2-button p {
    font-size: 1.7vw;
  }
}